@import url("https://fonts.google.com/specimen/Eczar?selection.family=Eczar");
body {

  margin: 0;
  background-color: rgb(39, 66, 77);

}
.container{
  margin:auto;
  display: flex;
  justify-content: center;
  padding-top: 50px;

}
img{
  border-radius: 50%;
}
#backImg{
width: 150px;
height: 150px;
text-align: center;
}

#frontImg{
  width: 180px;
  height: 180px;
}
.front,.back{
  border-radius: 20px;
  width: 400px;
  height:500px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
  transition: transform .6s linear;
}
.front {
  background: rgb(187, 227, 243);
  transform: perspective(600px) rotateY(0deg);
}
.back{
  background: rgb(106, 156, 175);
   transform: perspective(600px) rotateY(-180deg); 
}

.card.rotated > .front{
  transform: perspective(600px) rotateY(180deg);
}
.card.rotated > .back{ 
  transform: perspective(600px) rotateY(0deg);
}  
.details{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
 margin-top: 30px;
 height: 80%;
 
}
.rotateBtn{
    position: absolute;
    margin: 20px;
    right: 0;
    top: 0;
    font-size: 30px;
    cursor: pointer;
   
}
.details p{
  margin: 0;
  font-size: 30px;
  

}
.location{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 20px;
    text-align: center;
    
}
.backBtns{
  margin: 0 50px;
  display: flex;
  justify-content: space-between
}
.btn{
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border-top: none;
  border-left: none;
  cursor: pointer;
}
input{
  border-radius: 20px;
  border-top: none;
  border-left: none;
  width: 250px;
  padding-left: 5px;
  height: 20px;
}
input:focus{
  outline: none;
}
#changeBtn{
  position: absolute;
  left:44%;
  top:27%;
  opacity: 0;
  transition: opacity .35s ease;
}
#backImg:hover +#changeBtn {
  opacity: 1;
  font-weight: bold;
  cursor: pointer;

}
#backImg:hover{
    opacity: 0.7;
}
#changeBtn:hover{
  opacity: 1;
  font-weight: bold;
  cursor: pointer;
}

#changeBtn:hover +#backImg{
  opacity: 0.7;
}